{
  "root": true,
  "env": {
    "node": true
  },
  "plugins": ["jest"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": ["@rebeccastevens/eslint-config"],
  "overrides": [
    // Testing Rules.
    {
      "files": ["**/*.test.ts"],
      "env": {
        "jest/globals": true
      },
      "extends": ["plugin:jest/recommended"],
      "rules": {
        "functional/functional-parameters": "off",
        "functional/no-conditional-statement": "off",
        "functional/no-expression-statement": "off"
      }
    }
  ]
}
